<div class="ui secondary vertical pointing menu">
    <a id="id_profile" class="link item" href="{% url 'users:profile' user.pk %}">
        <i class="grey user icon"></i>
        <span class="v-nav-title">个人资料</span>
    </a>
    <a id="id_collect" class="link item" href="{% url 'users:collect_videos' user.pk %}">
        <i class="grey star icon"></i>
        <span class="v-nav-title">我的收藏</span>
    </a>
    <a id="id_like" class="link item" href="{% url 'users:like_videos' user.pk %}">
        <i class="grey circle icon"></i>
        <span class="v-nav-title">我的喜欢</span>
    </a>
    <a id="id_password" class="link item" href="{% url 'users:change_password' %}">
        <i class="grey edit icon"></i>
        <span class="v-nav-title">修改密码</span>
    </a>
    <a id="id_subscribe" class="link item" href="{% url 'users:subscribe' user.pk %}">
        <i class="grey rss icon"></i>
        <span class="v-nav-title">订阅设置</span>
    </a>
    <a id="id_submit" class="link item" href="{% url 'videos:video_add' %}">
        <i class="grey upload icon"></i>
        <span class="v-nav-title">上传视频</span>
    </a>
    <a id="id_submit" class="link item" href="{% url 'videos:video_list' %}">
        <i class="grey edit icon"></i>
        <span class="v-nav-title">管理视频</span>
    </a>
    <a id="id_feedback" class="link item" href="{% url 'users:feedback' %}">
        <i class="grey box icon"></i>
        <span class="v-nav-title">建议反馈</span>
    </a>
</div>